// Imports Gerais
@import "normalize";
@import "global";
@import "functions";

html {
	scroll-behavior: smooth;
}

.button {
	&.one {
		background: #fff;
	}
	&.two {
		background: #5eb66f;
		color: #fff;
		border: none;
		svg {
			path {
				fill: #fff;
			}
		}
		&:hover {
			background: #fff;
			color: #385fa5;
			svg {
				path {
					fill: #385fa5;
				}
			}
		}
	}
	&.three {
		background: #385fa5;
		color: #fff;
		svg {
			margin-left: 10px;
		}
		&:hover {
			background: #5eb66f;
		}
	}
	font-family: "Work Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #385fa5;
	padding: 12px 20px;
	display: inline-block;
	transition: all 0.2s ease-in;
	text-decoration: none !important;
	text-transform: uppercase;
	svg {
		margin-left: 30px;
	}
	&:hover {
		background: #385fa5;
		color: #fff;
		svg {
			path {
				fill: #fff;
			}
		}
	}
}

.btn-container {
	&.center {
		text-align: center;
	}
}

.header {
	.fixed-top {
		@include media(s) {
			position: absolute;
		}
	}
	&__desktop {
		max-width: 1240px;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
	}
	.nav-link {
		text-transform: none;
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		color: #6a6a69 !important;
	}
	#logo-detronic {
		display: none;
		@include media(s) {
			display: block;
		}
	}
	#logo-nav {
		display: block;
		@include media(s) {
			display: none;
		}
	}
	.new-navbar {
		@include media(l) {
			gap: 30px;
		}
	}
	.container-fluid {
		justify-content: center;
	}
}
.capao {
	background: url("../assets/bg-capao.jpg") no-repeat center;
	background-size: cover;
	padding-bottom: 0;
	@include media(s) {
		padding: 24px;
		padding-top: 60px;
	}
	&__img {
		@include media(s) {
			display: none !important;
		}
	}
	&__container {
		display: flex;
		gap: 40px;
		color: #fff;
		font-family: "Encode Sans";
		justify-content: center;
		@include media(s) {
			flex-wrap: wrap;
			gap: 30px;
		}
	}

	&__content {
		max-width: 703px;
		width: 100%;
		padding: 100px 0;
		@include media(s) {
			padding-top: 0px;
			padding-bottom: 60px;
			.btn-container {
			}
		}
	}
	&__title {
		font-family: "Encode Sans";
		max-width: 609px;
		font-style: normal;
		font-weight: 300;
		font-size: 48px;
		line-height: 60px;
		color: #fff;
		margin-top: 0;
		strong {
			font-weight: 800;
			color: #f9b900;
		}
		@include media(s) {
			font-size: 40px;
			line-height: 50px;
		}
	}
	&__desc {
		font-style: normal;
		font-family: "Encode Sans";
		font-weight: 300;
		font-size: 32px;
		line-height: 40px;
		margin: 24px 0;
		max-width: 600px;
		@include media(s) {
			font-size: 24px;
			line-height: 32px;
		}
	}
	&.typ {
		background: url("../assets/bg-capao-typ.jpg") no-repeat center;
		background-size: cover;
		display: none;
		.capao__content {
			max-width: 100%;
			.descontos {
				gap: 10px;
				margin-bottom: 34px;
			}
			.valor {
				background: #fff;
				padding: 16px 24px;
				font-family: "Encode Sans";
				color: #385fa5;
				font-size: 32px;
				line-height: 40px;
			}
			h1 {
				font-size: 64px;
				line-height: 80px;
				font-weight: 800;
				max-width: 100%;
				margin-bottom: 24px;
			}
			h2,
			h3 {
				font-family: "Encode Sans";
				margin-bottom: 30px;
				font-weight: 300;
				strong {
					font-weight: 700;
				}
			}
		}
		&.pf {
			display: block;
		}
		&.pj {
			display: block;
			.capao__container {
				margin: 0 auto;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			.capao__content {
				&:first-child {
					padding-bottom: 0px;
				}
				&:last-child {
					padding-top: 0px;
					text-align: center;
				}
				&--container {
					justify-content: center;
					margin-bottom: 32px;
				}
			}
			.descontos {
				justify-content: center;
			}
			.plano {
				width: 292px;
				button {
					appearance: none;
					border: none;
					background: none;
					color: white;
					text-transform: uppercase;
					font-family: "Encode Sans";
					margin: 0 auto;
					font-size: 24px;
					line-height: 30px;
					font-weight: 700;
					text-align: center;
					border: 2px solid #ffffff;
					margin-bottom: 24px;

					width: 187px;
					height: 62px;
					transition: all 0.2s linear;
					&:hover {
						background: #385fa5;
						border: 2px solid #385fa5;
					}
				}
				p {
					font-family: "Encode Sans";
					font-weight: 600;
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 0;
					margin: 0 auto;
				}
			}
		}
	}
}
.content {
	padding: 100px 0px;
	@include media(s) {
		padding: 50px 24px;
	}
	&__container {
		max-width: 1240px;
		margin: 0 auto;
		color: #6a6a69;
	}
	&__title {
		text-align: center;
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 24px;
		@include media(s) {
			font-size: 24px;
			line-height: 32px;
		}
	}
	&__desc {
		font-family: "Work Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		padding: 0 20px;
		b {
			font-weight: 700;
		}
		@include media(s) {
			padding: 0;
			font-size: 16px;
		}
	}
	&__cards {
		display: flex;
		justify-content: center;
		gap: 16px;
		margin: 30px auto 50px;
		overflow: auto;
		padding: 20px 0px;
		@include media(s) {
			justify-content: start;
		}
		&--card {
			width: 298px;
			height: 364px;
			flex-shrink: 0;
			padding: 40px;
			// border-left: 3px solid #5eb66f;
			position: relative;
			text-align: center;
			@include media(s) {
				border: none;
			}
			&::after {
				content: url("../assets/arrow.svg");
				position: absolute;
				right: -40px;
				top: 0%;
				// transform: translateY(-52%);
				z-index: 2;
				height: 334px;
				@include media(s) {
					display: none;
				}
			}
			&:first-child {
				border-left: 3px solid #5eb66f;
				@include media(s) {
					border: none;
				}
			}
			&:last-child {
				border-right: 3px solid #5eb66f;
				&:after {
					content: none;
				}
				@include media(s) {
					border: none;
				}
			}
			@include media(s) {
				width: 100%;
				height: 256px;
			}

			&-green_text {
				font-family: "Encode Sans";
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
				color: #5eb66f;
				margin: 12px auto;
			}
			&-text {
				font-family: "Encode Sans";
				font-style: normal;
				font-weight: 300;
				font-size: 24px;
				line-height: 30px;
				color: #6a6a69;
				margin-top: 24px;
				@include media(s) {
					font-family: "Work Sans";
					font-weight: 400;
					font-size: 16px;
					line-height: 150%;
				}
			}
		}
	}
	&__info--cards {
		text-align: center;
		margin-bottom: 50px;
		p {
			margin-bottom: 0;
		}
	}
}

.simulador {
	background: #385fa5;
	padding: 100px 0px;
	@include media(s) {
		padding: 50px 24px;
	}
	&__container {
		max-width: 1240px;
		margin: 0 auto;
	}
	&__title {
		text-align: center;
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		color: #ffffff;
		margin-bottom: 40px;
		@include media(s) {
			font-size: 24px;
			line-height: 32px;
		}
	}
	&__form {
		display: flex;
		gap: 24px;
		flex-wrap: wrap;
		justify-content: center;
		&--input {
			width: 100%;
			max-width: 397.33px;
			flex-shrink: 0;
			padding: 12px 0;
			padding-left: 23px;
			border: 1px solid #fff;
			br {
				display: none;
				@include media(s) {
					display: block;
				}
			}
			label {
				color: #fff;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 500;
				font-size: 18px;
				line-height: 150%;
				margin-bottom: 0px;
			}
			.hidden {
				display: none;
			}
			&.big {
				max-width: 608px;
			}
			select {
				appearance: none;
				background-color: transparent;
				border: none;
				color: #fff;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				width: 100%;
				@include media(s) {
					font-size: 14px;
				}
				&:focus-visible {
					outline: none;
				}
				&:focus {
					background: transparent;
				}
				&:hover {
					option {
						background: #385fa5;
					}
				}
			}
			&.conta {
				max-width: 100%;
				text-align: center;
				border: 0;
			}
			&.valor-conta {
				background: #fff;
				max-width: 100%;
				border-radius: 16px;
				padding: 40px 80px;
				p,
				input::placeholder {
					color: #385fa5;
				}
				@include media(s) {
					padding: 40px;
				}
			}
			&_text {
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				color: #ffffff;
				span {
					font-size: 14px;
				}
				@include media(s) {
					padding-right: 50px;
				}
				&.margin {
					margin-bottom: 52px;
					margin-bottom: 30px;
					@include media(s) {
						padding-right: 80px;
					}
				}
			}
			.label {
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 150%;
				color: #ffffff;
				display: flex;
				align-items: center;

				cursor: pointer;
				&.residencial {
					margin-right: 24px;
				}
			}
			input[type="text"] {
				width: 100%;
				background: transparent;
				appearance: none;
				border: none;
				outline: none;
				color: #ffff;
				&::placeholder {
					color: #fff;
					font-family: "Work Sans";
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 150%;
					color: #ffffff;
				}
			}

			input[type="radio"] {
				cursor: pointer;
				appearance: none;
				border: 1px solid #fff;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				margin-right: 16px;
				transition: all 0.2s ease-in;
				&:checked {
					background: #5eb66f;
					border: 1px solid #5eb66f;
				}
			}
			#container {
				width: 100%;
				height: 3px;
				background-color: #385fa5;
				position: relative;
				user-select: none;
				margin: 32px 0;
				margin-top: 47px;
			}

			#barra {
				width: 0%;
				height: 100%;
				// background-color: #4caf50;
				position: absolute;
			}
			.valor {
				display: flex;
				align-items: center;
				font-family: "Work Sans";
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
				text-align: center;
				color: #385fa5;
				justify-content: center;
				input {
					appearance: none;
					background: transparent;
					border: none;
					outline: none;
					font-size: 24px;
					line-height: 150%;
					color: #385fa5;
					margin: 0;
					width: 95px;
					-webkit-appearance: none;
					margin: 0;
					margin-left: 8px;
					text-align: center;
					cursor: pointer;
					-moz-appearance: textfield;
					&::-webkit-inner-spin-button,
					&::-webkit-outer-spin-button {
						-webkit-appearance: none;
						margin: 0;
					}
				}
			}
			#sinalizador {
				width: 35px;
				height: 35px;
				background-color: #5eb66f;
				border-radius: 50%;
				border: 5px solid #385fa5;
				position: absolute;
				left: 20;
				top: -15px;
				cursor: pointer;
				z-index: 2;
			}

			#mensagem {
				font-size: 14px;
				color: red;
				text-align: center;
				margin-top: 20px;
			}
		}
		&--holder {
			display: flex;
			max-width: 100%;
			width: 100%;
			justify-content: center;
			@include media(s) {
				flex-wrap: wrap;
			}
			input[type="radio"] {
				cursor: pointer;
				appearance: none;
				border: 1px solid #fff;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				margin-right: 16px;
				transition: all 0.2s ease-in;
				&:checked {
					background: #5eb66f;
					border: 1px solid #5eb66f;
				}
			}
		}
		.btn-container {
			width: 100%;
		}
	}
}

.club {
	padding: 100px 0px;
	background: #5eb66f;
	color: #fff;
	@include media(s) {
		padding: 50px 24px;
	}
	&__container {
		max-width: 1240px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		@include media(s) {
			flex-wrap: wrap;
		}
	}
	&__content {
		@include media(s) {
			padding-top: 0px;
			order: 2;
		}
	}

	&__title {
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		max-width: 1240px;
		margin: 0 auto;
		margin-bottom: 24px;
		margin-top: 0px;
		padding-top: 50px;
		@include media(s) {
			padding-top: 0px;
			font-size: 24px;
			line-height: 32px;
			text-align: center;
			padding: 0 30px;
		}
	}
	&__desc {
		font-family: "Work Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		max-width: 691px;
		margin-bottom: 24px;
		b {
			font-weight: 600;
		}
		@include media(s) {
			text-align: center;
			margin-top: 24px;
			font-size: 16px;
		}
	}
}

.footer {
	background-color: #385fa5;
	padding: 60px 0px;
	position: relative;
	overflow: hidden;
	&:after {
		content: url("../assets/sol.svg");
		position: absolute;
		right: 0;
		top: 0;
		@include media(s) {
			display: none;
		}
	}
	&__container {
		max-width: 1240px;
		margin: 0 auto;
		position: relative;
		z-index: 2;
	}
	&__content {
		display: flex;
		@include media(s) {
			display: block;
			padding: 0px 9px;
			.logo-branca {
				text-align: center;
			}
		}
	}
	&__socials {
		list-style-type: none;
		display: flex;
		justify-content: flex-start;
		padding-left: 0px;
		gap: 10px;
		margin-bottom: 30px;
		@include media(s) {
			justify-content: center;
		}
		.social-link {
			background: #fff;

			a {
				width: 42px;
				height: 42px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&__address {
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		display: flex;
		color: #ffffff;
		@include media(s) {
			margin-bottom: 50px;
		}
	}
	&__contato {
		color: #fff;
		font-family: "Encode Sans";
		font-style: normal;
		font-size: 16px;
		line-height: 20px;

		/* ESCALA DE CINZA/BRANCO */

		&--infos {
			margin-bottom: 20px;
			font-weight: 400;
		}
		&--text {
			font-weight: 500;
			margin-bottom: 0px;
		}
	}

	.new-container {
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
	}
	.new-reflexao-title,
	.new-reflexao-sub {
		font-weight: 500;
	}
	.copyright {
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		span {
			br {
				display: none;
				@include media(s) {
					display: block;
				}
			}
		}
		@include media(s) {
			padding: 0;
			margin-bottom: 30px;
		}
	}
	.privacy {
		font-family: "Encode Sans";
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		color: #ffffff;
		@include media(s) {
			padding: 0;
			text-align: left;
		}
		&:hover {
			a {
				color: #fff;
			}
		}
	}
	.col {
		@include media(s) {
			padding: 0px 15px;
			flex-shrink: 0;
			width: 100%;
			&.sessao-salmos {
				@include media(s) {
					padding: 30px 15px;
					border-top: 1px solid #173f86;
					border-bottom: 1px solid #173f86;
					flex-shrink: 0;
					display: block;
				}
			}
		}
	}
	.divisor {
		@include media(s) {
			display: none;
		}
	}
	.political {
		display: flex;
		justify-content: space-between;
		@include media(s) {
			padding: 0 24px;
			flex-direction: column;
			text-align: left;
		}
	}
}
